$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "./assets/fonts/Icons/fonts" !default;

$icon-menu: "\e904";
$icon-open-menu: "\e905";
$icon-ellipsis-v-solid: "\e911";
$icon-telegram-plane-brands: "\e900";
$icon-whatsapp-brands: "\e902";
$icon-viber-brands: "\e903";
$icon-chevron_right-24px: "\e906";
$icon-cross: "\e907";
$icon-facebook-f-brands: "\e908";
$icon-instagram-brands: "\e909";
$icon-left-arrow: "\e90a";
$icon-mail: "\e90b";
$icon-map: "\e90c";
$icon-mobile-alt-solid: "\e90d";
$icon-mobile-solid: "\e90e";
$icon-phone-solid: "\e90f";
$icon-vk-brands: "\e910";
$icon-youtube: "\e957";
$icon-cloud: "\e956";
$icon-delivery-2: "\e952";
$icon-coins: "\e954";
$icon-notes: "\e955";
$icon-switch: "\e950";
$icon-swap: "\e951";
$icon-filter-4: "\e94d";
$icon-filter-3: "\e94f";
$icon-user-2: "\e94a";
$icon-home-run-1: "\e94b";
$icon-profile: "\e94c";
$icon-refresh: "\e949";
$icon-temperature: "\e947";
$icon-stopwatch_1: "\e945";
$icon-stopwatch: "\e946";
$icon-filter-1: "\e943";
$icon-filter: "\e944";
$icon-invite: "\e942";
$icon-delivery-1: "\e940";
$icon-list1: "\e941";
$icon-tracking: "\e93f";
$icon-cleaning: "\e937";
$icon-arrow-down: "\e92a";
$icon-arrow-up: "\e92c";
$icon-arrow-left: "\e92d";
$icon-arrow-right: "\e930";
$icon-chevron-right: "\e931";
$icon-chevron-left: "\e932";
$icon-chevron-down: "\e935";
$icon-chevron-up: "\e936";
$icon-logout-1: "\e920";
$icon-logout: "\e921";
$icon-taxi: "\e91e";
$icon-delivery: "\e91f";
$icon-menu-24px: "\e91c";
$icon-menu_open-24px: "\e91d";
$icon-calendar-light: "\e901";
$icon-calendar: "\e918";
$icon-file-empty: "\e924";
$icon-files-empty: "\e925";
$icon-stack: "\e92e";
$icon-cog: "\e994";
$icon-pencil: "\e912";
$icon-cross1: "\ea0f";
$icon-list: "\e9ba";
$icon-image: "\e913";
$icon-images: "\e914";
$icon-camera: "\e915";
$icon-folder-download: "\e933";
$icon-folder-upload: "\e934";
$icon-download: "\e960";
$icon-upload: "\e961";
$icon-play: "\e916";
$icon-film: "\e917";
$icon-bullhorn: "\e91a";
$icon-folder: "\e92f";
$icon-floppy-disk: "\e962";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-user-plus: "\e973";
$icon-cog1: "\e995";
$icon-bin: "\e9ac";
$icon-attachment: "\e9cd";
$icon-notification: "\ea08";
$icon-info: "\ea0c";
$icon-cancel-circle: "\ea0d";
$icon-blocked: "\ea0e";
$icon-checkmark1: "\ea10";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-radio-checked: "\ea54";
$icon-radio-unchecked: "\ea56";
$icon-table2: "\ea71";
$icon-twitter: "\ea96";
$icon-appleinc: "\eabe";
$icon-android: "\eac0";
$icon-chrome: "\ead9";
$icon-firefox: "\eada";
$icon-IE: "\eadb";
$icon-edge: "\eadc";
$icon-safari: "\eadd";
$icon-opera: "\eade";
$icon-file-pdf: "\eadf";
$icon-file-openoffice: "\eae0";
$icon-file-word: "\eae1";
$icon-file-excel: "\eae2";
$icon-location2: "\e948";
$icon-clock: "\e94e";
$icon-calendar-classic: "\e953";
$icon-star-empty: "\e9d7";
$icon-newspaper: "\e919";
$icon-film1: "\e91b";
$icon-key: "\e98d";
$icon-lock: "\e98f";
$icon-unlocked: "\e990";
$icon-bubbles2: "\e96d";
$icon-user-minus: "\e974";
$icon-user-check: "\e975";
$icon-search: "\e986";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-file-text2: "\e926";
$icon-file-picture: "\e927";
$icon-file-music: "\e928";
$icon-file-play: "\e929";
$icon-file-zip: "\e92b";
$icon-libreoffice: "\eae3";
$icon-file-text: "\e922";
$icon-profile1: "\e923";
$icon-earth: "\e9ca";
$icon-flag: "\e9cc";
$icon-plus1: "\ea11";
$icon-minus1: "\ea12";
$icon-share2: "\ea82";
$icon-youtube1: "\ea9d";
$icon-quill: "\e938";
$icon-pen: "\e939";
$icon-book: "\e93a";
$icon-folder-open: "\e93b";
$icon-folder-plus: "\e93c";
$icon-folder-minus: "\e93d";
$icon-price-tag: "\e93e";
$icon-link: "\e9cb";
$icon-checkmark: "\ea13";
$icon-star-full: "\e9d9";
$icon-spinner11: "\e984";

